.calendar {

	height: 100%;

	position: relative;
}

.calendar div {
	position: relative;
	height: 100%;
}

.calendar .cuerpo {
	height: 100%;

	position: relative;
}




.calendar .semana.days {

	font-weight: bold;
	color: rgb(255,114,96);
	height: 25px;
}

.calendar .semana.fila {

	height: 35%;
	border-bottom : 1px solid rgb(210,210,210);
}



.calendar .semana div{
	width: 31%;
	border-right: 1px solid rgb(210,210,210);
}