.mainMenu {

	min-height: 50px;
	background: rgb(155,215,213);
	position: relative;

}

.mainMenu  .icons{
	text-align: left;
	padding: 4px;
}


.mainMenu  .icons div {
	display: inline-block;
	width: 32%;
	border-right: 1px solid white;
	text-align: center;
}

.mainMenu  .icons div:last-child{
	border-right: none;
}



.mainMenu  .icons img{

	height : 50px;
	width: auto;
}